Create a new file in `lib/secrets/secrets.h` to store any sensitive data. This file is listed in .gitignore and will not be commited.

Examples:

#define SECRET_SSID "my_ssid"
#define SECRET_PASS "my_password"